body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #880000;
}

@font-face {
    font-family: midorima;
    src: url('../fontes/Midorima.ttf');
}

@font-face {
    font-family: yoppa-fude;
    src: url('../fontes/Yoppa-fude.ttf');
}

@font-face {
    font-family: minamoto;
    src: url('../fontes/Minamoto.ttf');
}

.header {
    display: flex;
    justify-content: center;
}

.container1 {
    background-color: #cc0404;
    border-bottom: 3px solid;
    border-top: 3px solid;
    height: 100px;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.container3 {
    height: 100px;
    width: 210px;
}

.daruma {
    width: 100px;
    height: 100px;
}

.container4 {
    height: 100px;
    width: 210px;
}

.container4 span {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: midorima;
    font-size: 36px;
    width: 100px;
    height: 100px;
    margin-left: 80px;
}

.container5 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 400px;
    height: 80px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.higanbana {
    width: 100px;
    height: 100px;
}

a {
    color: #410101;
    text-decoration: none;
}

a:hover {
    color: #eeea1b;
}

.barra {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.aba {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.logout {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box2 {
    display: flex;
    position: relative;
    width: 99.5%;
    height: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quadro {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: yoppa-fude;
    font-size: 72px;
    color: #880000;
    border: 3px groove;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 10px;
    border-color: #880000;
}

.box3 {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: minamoto;
}

.box3 p {
    margin-left: 120px;
    text-indent: 15px;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

.box3 .p1 {
    margin-left: 120px;
    margin-right: 120px;
    line-height: 20px;
    text-indent: 15px;
    font-size: 14px;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 10px;
}

.box3 .p1::first-letter {
    font-size: 22px;
}

.box4 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box4 a {
   color: #0000FF;
   font-weight: bold;
   font-size: 14px;
   transition: all 0.3s ease-in-out;
   margin-top: 10px;
}

.box4 a:hover {
   color: #880000;
   font-weight: bold;
   font-size: 16px;
}

.fixo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.box4 .p2 {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 0px;
    margin-top: 10px;
    font-size: 20px;
}

.box4 .p3 {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.ajuste {
    width: 21%;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

.ajuste2 {
    text-align: left;
    width: 15%;
}

.ajuste3 {
    text-align: center;
    width: 13%;
}

.box5 {
    width: 600px;
    height: 350px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.tabelaHiragana {
    width: 100%;
    height: 100%;
}

.box6 {
    display: flex;
    justify-content: space-between;
    width: 520px;
    height: 300px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.agyou {
   height: 300px;
   border: 2px solid;
   border-color: #880000;
}

.adan {
    width: 450px;
    border: 2px solid;
    border-color: #880000;
}

.legenda1 {
    text-orientation: upright;
    writing-mode: vertical-lr;
    letter-spacing: 10px;
}

.legenda2 span {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.exemplo {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box7 {
    display: flex;
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ordem {
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    background-color: #cc0404;
    justify-content: center;
    width: 100%;
    line-height: 1px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
}