body {
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
   background-color: #880000;
}

@font-face {
   font-family: midorima;
   src: url('../fontes/Midorima.ttf');
}

@font-face {
   font-family: minamoto;
   src: url('../fontes/Minamoto.ttf');
}

.header {
   display: flex;
   justify-content: center;
}

.container1 {
   background-color: #cc0404;
   border-bottom: 3px solid;
   border-top: 3px solid;
   height: 100px;
   width: 100%;
}

.container2 {
   display: flex;
   justify-content: space-between;
   height: 100px;
   width: 100%;
}

.container3 {
   height: 100px;
   width: 210px;
}

.daruma {
   width: 100px;
   height: 100px;
}

.container4 {
   height: 100px;
   width: 210px;
}

.container4 span {
   display: flex;
   align-items: center;
   text-align: center;
   font-family: midorima;
   font-size: 36px;
   width: 100px;
   height: 100px;
   margin-left: 80px;
}

.container5 {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   width: 400px;
   height: 80px;
}

.icon {
   width: 100px;
   height: 100px;
   margin-left: 10px;
}

.higanbana {
   width: 100px;
   height: 100px;
}

a {
   color: #410101;
   text-decoration: none;
}

a:hover {
   color: #eeea1b;
}

.barra {
   display: flex;
   justify-content: center;
   list-style: none;
   font-size: 20px;
   font-weight: bold;
}

.aba {
   list-style: none;
   font-size: 18px;
   font-weight: bold;
}

.logout {
   width: 50px;
   height: 50px;
   cursor: pointer;
}

.box1 {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 555px;
   margin-top: 7px;
}

.box2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 99%;
   height: 100%;
   background-color: white;
   border: 3px solid;
   border-radius: 5px;
}

.box3 {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 49%;
   height: 98%;
}

.box3 h3 {
   font-family: minamoto;
   width: 100%;
   height: 11px;
   text-align: center;
   font-size: 15px;
}

#select_quiz {
   text-align: center;
   font-family: minamoto;
   width: 20%;
   height: 25px;
   border-radius: 5px;
   background-color: black;
   color: white;
   margin-bottom: 15px;
}

.KPI {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   height: 70px;
}

.box3 .moldura {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   width: 20%;
   height: 130%;
   background-color: #410101;
   border-radius: 10px;
   font-family: minamoto;
}

.moldura h6 {
   width: 100%;
   text-align: justify;
   margin: 0px;
   margin-left: 15px;
   margin-bottom: 5px;
   font-size: 12px;
   font-weight: lighter;
   opacity: 0.9;
}

.moldura h1 {
   margin: 0px;
   font-size: 40px;
}

.moldura h2 {
   margin: 0px;
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 26px;
}

.box4 {
   display: flex;
   width: 49%;
   height: 98%;
   align-items: center;
   flex-direction: column;
}

.box4 .moldura {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   width: 32%;
   height: 100%;
   background-color: #410101;
   border-radius: 10px;
   font-family: minamoto;
   margin-top: 75px;
}

.grafico {
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 90%;
}

.grafico h3 {
   font-family: minamoto;
   font-size: 30px;
   margin-top: 50px;
}

.grafico2 h3 {
   font-family: minamoto;
   font-size: 30px;
   margin-top: 115px;
   text-align: center;
   margin-bottom: 0px;
}

.grafico2 {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 55%;
}

.containerPizza {
   display: flex;
   align-items: center;
   width: 330px;
   height: 330px;
}

#porcentagemErros {
   display: flex;
   position: absolute;
   top: 90%;
   left: 33%;
   width: 100px;
   height: 100px;
   font-family: minamoto;
   font-weight: bold;
   font-size: 32px;
}

#porcentagemAcertos {
   display: flex;
   position: absolute;
   top: 100%;
   left: 55%;
   width: 100px;
   height: 100px;
   color: white;
   font-family: minamoto;
   font-weight: bold;
   font-size: 32px;
}